body {
  background-image: url("https://64.media.tumblr.com/59f27fa6fd01cc1d4c4f490e89eeeed0/ad9f7c2850cd1df9-70/s1280x1920/f203b86afa69a909e3d668d96d78d1d792a7567c.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#homePage {
  font-family: monospace;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  margin-top: 300px;
}

.viewRoutines {
  width: 175px;
  height: 25px;
  font-family: monospace;
  font-size: 18px;
  background-color: rgb(233, 91, 138);
  border-style: none;
  color: white;
  border-radius: 24px;
  transition: 0.3s;
}

.viewRoutines:hover {
  background-color: black;
  transition: 0.3s;
  width: 215px;
  box-shadow: 2px 5px 8px #888888;
  cursor: pointer;
}

#logo {
  width: 40px;
  float: left;
  margin-top: 7px;
  margin-right: 4px;
}

.loginButton {
  width: 100px;
  height: 25px;
  font-family: monospace;
  font-size: 18px;
  background-color: rgb(233, 91, 138);
  border-style: none;
  color: white;
  border-radius: 24px;
  transition: 0.3s;
}

.loginButton:hover {
  background-color: black;
  transition: 0.3s;
  width: 125px;
  box-shadow: 2px 5px 8px #888888;
  cursor: pointer;
}

#loginPage,
#registerPage,
#logoutPage {
  font-family: monospace;
  font-size: larger;
  font-weight: bold;
  text-align: center;
  display: flexbox;
  flex-direction: column;
  margin-top: 300px;
}

.loginForm,
#registerForm {
  display: flexbox;
}

.input {
  margin: 5px;
}

.pageButton,
.submitButton {
  font-family: monospace;
  font-size: 14px;
  background-color: rgb(233, 91, 138);
  border-style: none;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px;
}

.cancelButton {
  font-family: monospace;
  font-size: 14px;
  background-color: rgb(88, 88, 88);
  border-style: none;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
  margin: 5px;
}

.pageButton:hover,
.submitButton:hover,
.cancelButton:hover {
  background-color: black;
  transition: 0.3s;
  cursor: pointer;
}

.allActivitiesPage,
.routinesWithActivitiesPage {
  margin-top: 100px;
  text-align: center;
  padding-top: 15px;

  display: flex;
  justify-content: center;

  align-items: center;
}

.allActivitiesContainer,
.routinesWithActivities {
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: larger;
  width: 30%;
  height: 50vw;
  overflow: scroll;
  margin: 10px;
  background-color: rgb(228, 228, 228);
  border: rgb(233, 91, 138) 2px solid;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}

.routinesWithActivities {
  height: auto;
}

.routinesWithActivitiesActivity {
  padding-left: 15px;
  padding-top: 15px;
  text-align: left;
}

.indivActivity,
.indivActivityOnRoutine,
.routinesWithActivitiesActivity {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  box-shadow: 2px 5px 8px #888888;
  border: black solid 1px;
}

.containerTitle {
  font-size: 20px;
  padding-top: 25px;
}

.createRoutinePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-family: monospace;
  font-size: larger;
}

.createRoutine {
  width: 250px;
  text-align: center;
  border: rgb(233, 91, 138) 2px solid;
  padding: 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(224, 224, 224);
}

.createRoutineTitle {
  font-size: 24px;
}

#navbar {
  background-image: linear-gradient(
    to left,
    rgb(233, 91, 138),
    rgb(255, 196, 216)
  );
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
}
#topbar {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: monospace;
  margin-top: 13px;
  padding-top: 1px;
}
#firstbutton {
  margin-left: 15px;
}
.link {
  margin-left: 7px;
  color: white;
  font-weight: bold;
}
.pageLink {
  margin: 7px;
}
.link:hover {
  color: black;
}
#title {
  font-size: 45px;
  font-style: italic;
  font-family: Changa One;
  color: white;
  text-shadow: 3px 3px 0px black;
  text-decoration: none;
}

.addActivityToRoutineBox {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: rgb(0, 0, 0) 2px solid;
}

.fieldset {
  border: none;
}

.routinesPage {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: larger;
}

.routinesTitle {
  width: 250px;
  text-align: center;
  font-size: 20px;
  border: rgb(233, 91, 138) 2px solid;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(224, 224, 224);
}

.routinesContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 50px;
}

.yourRoutinesContainer,
.allRoutinesContainer {
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  margin: 10px;
  background-color: rgb(228, 228, 228);
  border: rgb(233, 91, 138) 2px solid;
  padding: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(224, 224, 224);
  margin-bottom: 30px;

  width: 30%;
  height: 50vw;
  overflow: scroll;
}

.routinesWithActivitiesRoutine {
  margin: 5px;
  padding: 5px;
}

.indivRoutine {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  box-shadow: 2px 5px 8px #888888;
  border: black solid 2px;
}
