/* All sections are labeled at the top with their respective JS file names. They are ordered alphabetically. */

/* activities CSS here */

/* add_activities CSS here */

/* add_routine CSS here */

/* delete_routine_activities CSS here */

/* delete_routine CSS here */

/* header CSS here */

/* home CSS here */

/* login CSS here */

/* logout CSS here */

/* profile CSS here */

/* register CSS here */

/* routine_activities CSS here */

/* routines CSS here */

.routinesTitle {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.routinesContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 50px;
}

.yourRoutinesContainer,
.allRoutinesContainer {
  text-align: center;
  padding: 5px;
  padding-top: 15px;
  margin: 10px;
  background-color: rgb(184, 184, 184);
  width: 48%;
  height: 100vw;
  overflow: scroll;
}

.yourRoutinesContainer::-webkit-scrollbar,
.allRoutinesContainer::-webkit-scrollbar {
  width: 20px;
}

.yourRoutinesContainer::-webkit-scrollbar-track,
.allRoutinesContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.yourRoutinesContainer::-webkit-scrollbar-thumb,
.allRoutinesContainer::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

.yourRoutinesContainer::-webkit-scrollbar-thumb:hover,
.allRoutinesContainer::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

/* update_activities CSS here */

/* update_routine_activities CSS here */

/* update_routine CSS here */

/* users CSS here */
